body {
  margin: 0;
  font-family: "Poppins", sans-serif;
background-color: #10403B
}

/* Container central */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Card de perfil */
.card-perfil {
  background-color: #127369;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
}

/* Foto do perfil */
.foto-perfil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #10403B;
  cursor: pointer;
  margin-bottom: 15px;
}

/* Nome e bio */
.card-perfil h2 {
  color: #fff;
  margin: 10px 0 5px;
}

.bio {
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Informações */
.info {
  text-align: left;
  font-size: 14px;
  color: #fff;
  margin-bottom: 25px;
}

.info strong {
  color: #fff;
}

/* Botões */
.botoes {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  background-color: #00BF63;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #10403B;
}

/* Botão sair */
.sair {
  background-color: #10403B;
}

.sair:hover {
  background-color: #00BF63;
}

 #fotoPerfil {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: #ccc;
      background-size: cover;
      background-position: center;
      margin-bottom: 10px;
    }

    #img-foto {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      display: block;
      margin-bottom: 10px;
    }

    input[type="file"] {
      display: none;
    }